<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ntu.mpp.slapface"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/sf_icon"
        android:label="SlapFace" >
        <activity
            android:label="SlapFace"
            android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HostActivity" >
        </activity>
        <activity android:name=".ClientActivity" >
        </activity>
        <activity
            android:name=".GameActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity android:name="com.farproc.wifi.connecter.MainActivity"
    		android:theme="@android:style/Theme.Dialog" 
    		android:launchMode="singleInstance" 
    		android:excludeFromRecents="true" 
    		android:noHistory="true">
    	</activity>
    
		<service android:name="ReenableAllApsWhenNetworkStateChanged$BackgroundService"/>
    </application>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

</manifest>